# =========================
# Build / Generated Output
# =========================
out/

# =========================
# Data Lake Layers
# =========================
data/
*.parquet

# =========================
# Virtual Environment
# =========================
venv/
.env/

# =========================
# Python Cache
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Logs / Temp
# =========================
*.log
*.tmp

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db